absl-py==2.1.0
acres==0.2.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
albucore==0.0.13
albumentations==1.4.10
annotated-types==0.7.0
anyio==4.6.2.post1
asgiref==3.8.1
astor==0.8.1
astunparse==1.6.3
attrs==24.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.16
ci-info==0.3.0
cleo==2.1.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.0
coverage==7.6.7
crashtest==0.4.1
cryptography==43.0.3
cssselect2==0.8.0
cycler==0.12.1
Cython==3.0.11
dataclasses-json==0.6.7
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.9
distro==1.9.0
dulwich==0.21.7
durationpy==0.9
emoji==2.14.0
etelemetry==0.3.1
eval_type_backport==0.2.0
fastapi==0.115.4
fastjsonschema==2.21.1
filelock==3.16.1
filetype==1.2.0
fire==0.7.0
fitz==0.0.1.dev2
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.10.0
gast==0.4.0
google-auth==2.35.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
GPUtil==1.4.0
greenlet==3.1.1
grpcio==1.67.0
h11==0.14.0
h5py==3.12.1
html5lib==1.1
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
idna==3.10
imageio==2.36.1
imgaug==0.4.0
importlib_metadata==8.4.0
importlib_resources==6.4.5
iniconfig==2.0.0
installer==0.7.0
isodate==0.6.1
jaraco.classes==3.4.0
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
keras==2.13.1
keyring==24.3.1
kiwisolver==1.4.7
kubernetes==31.0.0
langchain==0.3.5
langchain-community==0.3.3
langchain-core==0.3.15
langchain-openai==0.2.6
langchain-text-splitters==0.3.1
langdetect==1.0.9
langgraph==0.2.45
langgraph-checkpoint==2.0.2
langgraph-sdk==0.1.35
langsmith==0.1.141
lazy_loader==0.4
libclang==18.1.1
lmdb==1.5.1
loguru==0.7.3
looseversion==1.3.0
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.0
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.2.0
mmh3==5.0.1
monotonic==1.6
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.4.2
nibabel==5.3.2
ninja==1.11.1.4
nipype==1.9.1
nltk==3.9.1
numpy==1.26.4
oauthlib==3.2.2
objaverse==0.1.7
olefile==0.47
onnxruntime==1.19.2
openai==1.54.3
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt-einsum==3.3.0
optree==0.13.0
orjson==3.10.10
overrides==7.7.0
packaging==24.1
paddleocr==2.9.1
paddlepaddle==2.6.2
pandas==2.2.3
pathlib==1.0.1
pdfkit==1.0.0
pexpect==4.9.0
pillow==11.0.0
pkginfo==1.12.0
platformdirs==4.3.6
pluggy==1.5.0
poetry==1.8.5
poetry-core==1.9.1
poetry-plugin-export==1.8.0
posthog==3.7.0
propcache==0.2.0
protobuf==3.20.2
prov==2.0.1
psutil==6.1.0
ptyprocess==0.7.0
puremagic==1.28
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
pydot==3.0.3
pydyf==0.11.0
Pygments==2.18.0
PyMuPDF==1.25.1
pyparsing==3.2.0
pypdf==5.1.0
PyPDF2==3.0.1
pyphen==0.17.2
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-mock==3.14.0
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-iso639==2024.10.22
python-magic==0.4.27
python-markdown-math==0.9
python-multipart==0.0.20
python-oxmsg==0.0.1
pytz==2024.2
pywin32==308
pywin32-ctypes==0.2.3
pyxnat==1.6.2
PyYAML==6.0.2
RapidFuzz==3.10.1
rdflib==6.3.2
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.3
riemannian-manifold==0.1
-e git+https://github.com/jigglypop/riemutils.git@92f2179aa94679b17dd6ca0694413e0857bd8d02#egg=riemutils
rsa==4.9
safetorch::Tensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
sentence-transformers==3.2.1
shapely==2.0.6
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
starlette==0.41.2
sympy==1.13.1
tenacity==9.0.0
torch::Tensorboard==2.13.0
torch::Tensorboard-data-server==0.7.2
torch::Tensorflow==2.13.0
torch::Tensorflow-cpu==2.15.0
torch::Tensorflow-estimator==2.13.0
torch::Tensorflow-intel==2.13.0
torch::Tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.8.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tokenizers==0.20.1
tomli==2.2.1
tomlkit==0.13.2
torch==2.1.0+cu121
torchaudio==2.5.1+cu121
torchvision==0.16.0+cu121
tqdm==4.66.6
traits==6.4.3
transformers==4.46.1
trimesh==4.6.1
trove-classifiers==2024.10.21.16
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
unstructured==0.16.3
unstructured-client==0.26.2
urllib3==2.2.3
uv==0.6.16
uvicorn==0.32.0
virtualenv==20.28.0
watchfiles==0.24.0
weasyprint==65.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.0.6
win32_setctime==1.2.0
wrapt==1.14.1
yarl==1.17.0
zipp==3.20.2
zopfli==0.2.3.post1
